@import 'assets/styles/base/mixins';

.card {
	@include flex-all-sb;
	column-gap: 14px;

	padding: 10px 20px;
	background-color: var(--clr-light);
	border-radius: var(--radius-500);

	.header {
		@include flex-v-center;
		column-gap: 14px;

		.icon img {
			border-radius: 50%;
		}
	}

	.more {
		padding: 3px;
		&:hover svg path {
			fill: var(--clr-dark-800);
			transition: var(--transition);
		}

		svg path {
			transition: var(--transition);
		}
	}
}
