body {
	background-color: var(--clr-dark-100);
}

.container {
	max-width: var(--container-width);
	padding: var(--content-padding);
	margin: 0 auto;
}

.section {
	margin-top: var(--content-offset);
}
