.text {
	line-height: 100%;

	&_center {
		text-align: center;
	}
	&_right {
		text-align: right;
	}
	&_left {
		text-align: left;
	}

	&_bold {
		font-weight: 700;
	}
	&_semi-bold {
		font-weight: 600;
	}
	&_medium {
		font-weight: 500;
	}
	&_regular {
		font-weight: 400;
	}

	&_fs-700 {
		font-size: var(--fs-700);
	}
	&_fs-600 {
		font-size: var(--fs-600);
	}
	&_fs-500 {
		font-size: var(--fs-500);
	}
	&_fs-400 {
		font-size: var(--fs-400);
	}
	&_fs-300 {
		font-size: var(--fs-300);
	}
	&_fs-200 {
		font-size: var(--fs-200);
	}

	&_main {
		color: var(--clr-main);
	}
	&_dark-800 {
		color: var(--clr-dark-800);
	}

	&_dark-500 {
		color: var(--clr-dark-500);
	}

	&_dark-300 {
		color: var(--clr-dark-300);
	}

	&_dark-200 {
		color: var(--clr-dark-200);
	}

	&_dark-100 {
		color: var(--clr-dark-100);
	}

	&_light {
		color: var(--clr-light);
	}
}

.first-heading {
	@include text(var(--fs-700), var(--clr-dark-800), 107%, 600);
}
.second-heading {
	@include text(var(--fs-600), var(--clr-dark-700), 100%, 700);
}
