@import 'assets/styles/base/mixins';

.chart {
	margin-top: 16px;
	padding: 30px;
	background-color: var(--clr-light);
	border-radius: var(--radius-600);

	.toolbar {
		@include flex-all-sb;
		column-gap: 12px;
		max-width: 680px;
		margin: 0 auto 40px auto;

		& > * {
			&:first-child,
			&:last-child {
				flex-basis: 25%;
				flex-grow: 1;
			}
			&:nth-child(2) {
				flex-basis: 50%;
				flex-grow: 1;
			}
		}
	}
}
