@import 'assets/styles/base/mixins';

.chart {
	margin-top: 16px;
	padding: 30px;
	background-color: var(--clr-light);
	border-radius: var(--radius-600);

	.toolbar {
		@include flex-all-sb;
		column-gap: 12px;
		margin-bottom: 40px;

		& > * {
			flex-grow: 1;
		}
	}
}
