@import 'assets/styles/base/mixins';

.table {
	margin-top: 16px;
	width: 100%;
	padding: 20px;
	background-color: var(--clr-light);
	border-radius: var(--radius-400);

	.head {
		@include flex-all-sb;
		column-gap: 14px;
		padding-bottom: 16px;
	}

	.body {
		.row {
			@include flex-all-sb;
			column-gap: 14px;
			padding: 16px 0;

			&:not(:last-child) {
				@include border(var(--clr-dark-300), bottom);
			}
		}
	}
}
